name: Sync
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

concurrency:
  group: sync
  cancel-in-progress: false

jobs:
  sync:
    name: Repo Sync
    runs-on: ubuntu-latest
    permissions:
      actions: write
      packages: write
      contents: read
    steps:
    - 
      name: Check if repo is up
      run: |
          #!/bin/bash
          set -eu
          echo "exists=false" >> $GITHUB_ENV
          if git ls-remote --tags https://passt.top/passt >/dev/null; then
            echo "exists=true" >> $GITHUB_ENV
          fi
    - 
      name: Checkout
      uses: actions/checkout@v6
      if: env.exists == 'true'
      with:
        persist-credentials: false
    - 
      name: Sync repo to branch
      if: env.exists == 'true'
      uses: repo-sync/github-sync@v2
      with:
        source_repo: "https://passt.top/passt"
        source_branch: master
        destination_branch: upstream
        github_token: ${{ secrets.TOKEN }}
